*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 110%;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-2 {
    max-width: 890px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #444B51;
    text-align: center;
    margin-bottom: 16px;
}

/* header */

.header {
    padding: 17px 0 13px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

.phone {
    display: flex;
    margin-right: 47px;
    color: #444B51;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    font-weight: 500;
    padding-left: 22px;
    position: relative;
}

.phone::after {
    content: '';
    width: 12px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    background-image: url("../images/call-icon.svg");
    background-repeat: no-repeat;
}

.btn {
    background: #E24329;
    border-radius: 21.5px;
    color: #fff;
    margin-right: 40px;
}

.login {
    text-decoration: none;
    padding: 12px 24px;
}

.language {
    text-decoration: none;
    font-weight: 500;
    color: #828282;
    padding-left: 30px;
    position: relative;
    margin-right: 1px;
}

.language::after {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    height: 24px;
    width: 24px;
    background-image: url("../images/earth-icon.svg");
    background-repeat: no-repeat;
}

/* main page */

.main-page {
    background-color: #E24329;
    background-image: url("../images/backround-earth.svg");
    background-repeat: no-repeat;
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 177px;

}

.main-page__inner {
    position: relative;
    padding-bottom: 153px;
}

.main-page__img {
    display: block;
    width: 620px;
    margin-left: auto;
    padding-top: 90px;
    margin-right: -43px;
}

.main-page__title {
    max-width: 730px;
    font-weight: bold;
    font-size: 48px;
    line-height: 68px;
    color: #fff;
    position: absolute;
    padding-top: 136px;
    top: 0;
    left: 0;
}

.main-page__description {
    position: absolute;
    max-width: 615px;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    top: 370px;
    left: 0;
}

.main-page__form {
    position: absolute;
    left: 0;
    top: 480px;
    z-index: 0;
}

.track-number {
    position: relative;
    padding: 18px 129px 17px 39px;
    max-width: 400px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #BABABA;
    border-radius: 30px 0 0 30px;
    border: 1px solid #BDBDBD
}

.track-number:focus-visible {
    outline: none;
}

.track-btn {
    width: 170px;
    background: #FF6A00;
    border: none;
    position: absolute;
    top: 0;
    left: 99%;
    font-weight: bold;
    padding: 23px 31px 21px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    transition: all .3s;
}

.track-btn:hover {
    background-color: #ff6a00c2;
}

.mane-page__icons__inner {
    position: relative;
}

.mane-page__icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -50px;

}

.icon {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1), 0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407), 0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);
    border-radius: 16px;
    padding: 20px 20px;
    width: 270px;
    align-items: center;
    margin-right: 29px;
}

.icon:nth-child(4) {
    margin-right: 0;
}

.icon-img {
    margin-right: 11px;
}

.icon-title {
    font-size: 14px;
    line-height: 24px;
}

.icon-title {
    font-size: 14px;
    line-height: 24px;
    margin-right: 21px;
}

.icon span {
    font-weight: normal;
}

/* benefits */

.benefits {
    margin-bottom: 119px;
}

.benefits__description {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 615px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.benefits__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}

.benefits_item {
    min-width: 300px;
    padding: 35px 24px 25px;
    border-radius: 16px;
}

.item-logo {
    display: block;
    max-width: 70px;
    max-height: 70px;
    margin: 0 auto;
    margin-bottom: 34px;
}

.item-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #444B51;
    margin-bottom: 16px;
}

.item-description {
    max-width: 322px;
    text-align: center;
    line-height: 24px;
}

.pink {
    background-color: #FFECF1;
}

.light-pink {
    background-color: #FFF3EB;
}

.light-blue {
    background-color: #ECEDFF;
}

.blue-2 {
    background-color: #F7F7F7;
}

.pink-2 {
    background-color: #FFFAEC;
}

.blue {
    background-color: #EEFFF3;
}

/* apply-ambassador */

.apply-ambassador {
    min-height: 520px;
    margin-bottom: 129px;
}

.apply-ambassador__inner {
    display: flex;
}

.apply-ambassador-img {
    max-width: 100%;
    margin-right: 16px;
}

.apply-ambassador__title.title {
    text-align: left;
}

.apply-ambassador__items {
    padding-top: 148px;
}

.apply-ambassador__description {
    display: inline-block;
    color: #444B51;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 28px;
    max-width: 459px;
}

.apply-ambassador__btn {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 49px;
    background-color: #E24329;
    color: #fff;
    border-radius: 25px;
}

/* questions */

.questions {
    margin-bottom: 120px;
}

.questions__description {
    color: #444B51;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 615px;
    margin: 0 auto 37px;

}

.accordion-items {
    margin-bottom: 47px;
}

.question {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 21px;
    margin-bottom: 17px;
}

.accordion {
    display: block;
    position: relative;
    color: #444B51;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    border: none;
    background-color: transparent;
    padding-left: 61px;
    cursor: pointer;
    text-align: left;
}

.accordion::before {
    content: "";
    background-image: url("../images/carbon_add-filled.svg");
    position: absolute;
    left: 0;
    top: -2px;
    height: 32px;
    width: 32px;
}

.panel {
    display: none;
    color: #444B51;
    line-height: 26px;
    padding-left: 61px;
    overflow: hidden;
    margin-top: 20px;
}

.faq {
    text-align: center;
}

.faq-btn {
    position: relative;
    color: #E24329;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    margin: 0 auto;
    padding-right: 33px;
}

.faq-btn::before {
    position: absolute;
    content: '';
    background-image: url("../images/arrow.svg");
    height: 20px;
    width: 20px;
    top: 1px;
    right: 0;
}

.clients {
    padding: 0 21px;
    margin-bottom: 120px;
}


.clients__title {
    margin-bottom: 50px;
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* reviews */

.reviews {
    margin-bottom: 120px;
}

.reviews__items {
    padding: 0 48px;
}

.reviews__description {
    max-width: 615px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #444B51;
    margin: 0 auto 24px;
}

.review__inner {
    display: flex; 
    align-items: center;  
}

.item-img {
    margin-right: 81px;
    max-width: 100%;
}

.stars {
    display: flex;
}

.review__item__inner {
    flex-direction: column;
    position: relative;
}

.review__item__inner::before {
    position: absolute;
    content: '';
    top: -100px;
    left: 0;
    background-image: url("../images/Group 84.svg");
    width: 80px;
    height: 60px;
}

.stars {
    padding-bottom: 30px;
    cursor: pointer;
}

.review {
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #E24329;
    margin-bottom: 6px;
}

.profession {
    color: #444B51;
    font-weight: 500;
}

.slick-arrow {
    position: absolute;
    bottom: 0;
    left: 720px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slick-prev {
    left: 645px;
    z-index: 1;
}

/* partner */

.partner {
    margin-bottom: 120px;
}

.partner__inner {
    background-color: rgba(226, 67, 41, 0.1);
    background-image: url("../images/Group\ 725.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    border-radius: 24px;
    margin: 0 102px;
    padding: 67px 91px;
}

.partner__title {
    line-height: 54px;
}

.partner__description {
    line-height: 26px;
    text-align: center;
    color: #444B51;
    margin-bottom: 40px;
}

.partner__btn {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #E24329;
    font-weight: bold;
    padding: 23px 88px 18px;
    border: none;
    background-color: #fff;
    width: 285px;
    box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1), 0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407), 0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);
    border-radius: 25px;
}

.partner__btn:hover {
    background-color: rgb(243, 241, 241);
}

/* news */

.news {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 120px;
}



.slick-dots {
    position: absolute;
    bottom: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 50%;
}

.slick-dots button {
    width: 16px;
    height: 16px;
    margin: 0 6px;
    padding: 0;

    font-size: 0;
    border: none;
    background-color: #E5E5E5;
    border-radius: 50%;
}

.slick-dots .slick-active button{
    width: 24px;
    height: 24px;
    background-color: #29DBCC;
}

.news__title {
    max-width: 739px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.news__items {
    display: flex;
    justify-content: space-between;
}

.news__item {
    margin-right: 30px;
    max-width: 370px;
    position: relative;
    padding-bottom: 34px;
    margin-bottom: 86px;
}

.items__img {
    max-width: 370px;
    max-height: 300px;
    margin-bottom: 20px;
    position: relative;
}

.news-slick-next {
    position: absolute;
    top: -54%;
    left: 97.9%;
}

.news-slick-prev {
    position: absolute;
    top: -54%;
    left: -5.4%;
    z-index: 1;
}

.items__category {
    display: inline-block;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}

.items__view {
    float: right;
    color: #666666; 
    line-height: 24px;
    padding-left: 27px;
    position: relative;
}

.items__view::before {
    position: absolute;
    content: '';
    top: 4px;
    left: 0;
    width: 18px;
    height: 12px;
    background-image: url("../images/view.svg");
    background-repeat: no-repeat;
}

.items__title {
    color: #474747;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    max-width: 370px;
    margin-bottom: 29px;
}

.items__description {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.items__link {
    position: absolute;
    bottom: 0;
    color: #29DBCC;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

/* application */

.application {
    background-color: #FFF2EF;
    margin-bottom: 120px;
}

.application__inner {
    background-image: url("../images/app_image-oqbstued1g3vlqp5nl02qh6elcooetz97kr4y3ud4s\ 1.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.application__title {
    padding-top: 86px;
    text-align: start;
}

.application__description {
    font-size: 18px;
    line-height: 26px;
    color: #444B51;
    max-width: 615px;
    margin-bottom: 4px;
    max-width: 615px;
}

.step-items {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.step-items.last {
    margin-bottom: 40px;
}

.step {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.step-img {
    margin-right: 20px;
}

.aplication__img {
    float: right;
}

.app-store {
    display: inline-block;
    padding-bottom: 64px;
    margin-right: 30px;
}

/* footer */

.footer {
    background-color: #FFF2EF;
}

.footer__items {
    display: flex;
    justify-content: space-evenly;
    padding-top: 74px;
}

.footer__item, .footer__item-links, .footer__item-policy{
    display: flex;
    flex-direction: column;
}

.footer-logo {
    max-width: 270px;
    margin-bottom: 30px;
}

.adress {
    font-size: 18px;
    color: #444B51;
    line-height: 26px;
    max-width: 370px;
    margin-bottom: 40px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
}

.footer__item-title {
    color: #444B51;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 37px;
}

.link {
    display: inline-block;
    color: #444B51;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.link:last-child {
    margin-bottom: 30px;
}

.copyright {
    background-color: #E24329;
    color: #fff;
    padding: 13px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}